
.changeButtonContainer {
    display: flex;
    flex-direction: row;
}

.userDataInfo,
.userDataInfoInput {

    height: 35px;

    align-items: center;
    
    width: 400px;

    color: gray;

    padding-left: 10px;
    margin-left: 5%;

    border-bottom: 1px solid var(--secondary-border-color);
    border-radius: 1px;
}

.userDataInfo {
    line-height: 200%;
}

.userDataInfoInput {
    margin-right: 0;
    border: 0;
    border-bottom: 1px solid var(--secondary-border-color);
    color: black;
    background-color: var(--background-field-color);
}

.userDataInfoInput:focus{
    outline: none;
}

.optionsGo {
    display: flex;
}

.goIcon {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;

    transition: 0.3s;
}

.goIcon:hover {
    transform: translateY(-3px);
}