.navHeader {
    top: 0px;
    background-color: white;
    position: fixed;
    height: auto;
    z-index: 1;
    width: 100vw;
    border-bottom: 1px solid var(--border-color);
}

.menuContainer {
    width: 100vw;
    height: 55px;
    display: flex;
    align-items: center;
    font-family: 'Heebo, sans-serif';
}

.menuContainer h2 {
    font-size: 180%;
    text-decoration: none;
    color: var(--primary-color);
    width: 10vw;
}

.menuContainer a {
    text-decoration: none;
}

.RoutesOptions ul {
    width: 50vw;
    list-style: none;
    display: inline-flex;
}

.RoutesOptions ul li {
    text-align: center;
    width: 140px;
    padding: 18px;
    padding-bottom: 15px;
    border-bottom: 5px solid rgb(0, 0, 0, 0);
}

.RoutesOptions ul li:hover {
    border-bottom: 5px solid gray;
}

.RoutesOptions ul li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: 600;
}

.accountInfo {
    width: 20vw;
}

.userAllInfo {
    display: flex;
    align-items: center;
    width: 200px;
}

.userBox img {
    width: 40px;
    border-radius: 50%;
    height: auto;
}

.accountInfo ul {
    list-style: none;
}

.accountInfo ul li {
    cursor: pointer;
}

.accountInfo ul li div {
    z-index: 0;
}

.userUserName {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 100%;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}

.userUserName svg {
    margin-left: 4px;
}