.container {
    max-width: 350px;
    max-height: 1000px;
    padding: 50px 80px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);

    overflow: hidden;
}

.container form {
    height: 100%;
    width: 100%;
    position: static;
}



.logContainer {
    top: 30%;
    max-height: 500px;
}

.signupFormContainer {
    display: block;
    text-align: center;
}

.signupFormContainer  div h1 {
    text-align: left;
    font-size: 180%;

}

label {
    width: 100%;
}

select {
    margin-top: 5px;
    background: rgb(232, 232, 232, .5);
    width: 305px;
    height: 35px;
    border: none;
}

label>span {
    width: 100%;
    text-align: left;
    font-size: 100%;
    font-weight: 500;

    display: block;
}

.signupLabel {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
}

.loginFormContainer {
    padding-bottom: 20px;
}

.loginFormContainer h1 {
    font-size: 180%;
    margin-bottom: 15px;
}

.loginFormContainer .title p {
    margin-top: 20px;
    color: var(--primary-color);
    text-align: center;
    font-size: 200%;
    font-weight: 500;
}

.loginFormContainer h4 {
    font-weight: 400;
    margin-top: 8px;
}

.loginFormContainer h4 a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.input {
    width: 300px;
    height: 35px;
    padding-left: 15px;

    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    width: 100px;
    height: 34px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.buttonsRegistration {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.arrowleft {
    background: var(--primary-color);
    width: 90px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 80px;
}

.arrowleft:hover {
    background: #79acf8;
}

.stateplace {
    margin-right: 10px;
}

.error {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .container {
        position: relative;
        right: 20%;
        top: 30%;
    }
}