:root {
    --primary-color: #2F4EF0;
    --primary-color-lighter: #425ff1;
    --background-color-1: #FBFBFE;
    --background-color-2: #F5F5F8;
    --text-color: #3D3D3D;
    --background-field-color: rgb(251, 251, 251);
    --background-field-color-darker: rgb(240, 238, 238);
    --border-color: rgb(232, 232, 232, .5);
    --secondary-border-color: rgb(221, 221, 221);
}


* { 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    color: var(--text-color);
}


.input {
    font-family: "Roboto", sans-serif;
    padding-left: 10px;

    border: 0;
    border-radius: 8px;

    width: 300px;
    height: 35px;
}

.input:focus {
    outline: none;
}

.btn {
    border: 0;
    border-radius: 10px;

    background: var(--primary-color);
    color: white;

    cursor: pointer;

    transition: 0.2s;
}

.btn:hover {
    background: var(--primary-color-lighter);
}

.btn:focus {
    outline: none;
}


.error {
    margin-top: 10px;
    color: rgb(202, 39, 39);
}

.success {
    margin-top: 10px;
    text-align: center;
    color: rgb(39, 202, 93);
}

.content-container {
    margin-top: 100px;
}