.pageContainer {
    width: 100vw;
}
.profileContainer {
    width: 60vw;
    min-width: 600px;
    margin-top: 50px;
}

.userProfileImgBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 300px;
    padding-right: 40px;
    margin: 0;
    background-color: var(--background-field-color);
    border-radius: 5px 10px 10px 5px;
    border-left: 5px solid var(--primary-color);
}

.userProfileImg {
    width: 260px;
    height: 250px;
    overflow: hidden;
    display: flexbox;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.userProfileImg img {
    border-radius: 100%;
    margin: 0;
    margin-left: 10%;
    margin-bottom: 15px;
    height: 170px;
    width: 170px;
}

.userprofileImgInfo {
    margin-left: 20px;
    width: 60%;
}

.userprofileImgInfo p {
    color: gray;
    line-height: 150%;
}

.userProfileImg button {
    cursor: pointer;
    background: var(--primary-color);
    padding: 8px 30px;
    margin-left: 15px;
    border: 0;
    border-radius: 10px;
    color: white;
    width: 200px;
    transition: background-color .2s;
}

.userProfileImg button:hover {
    background-color: var(--primary-color-lighter);
}

.userProfileImg button:focus {
    outline: none;
}


.AnimationEnter {
    opacity: 0;
    transform: translateY(-1000px);
}
.AnimationEnterActive {
  opacity: 1;
  transition: opacity 300ms ease, transform 400ms ease;
}
.AnimationExit {
    opacity: 1;
}
.AnimationExitActive {
    opacity: 0;
    transition: opacity 100ms ease;
}